  /* HEADER Content */
  header{
    background-image: url("/static/Images/about/top_banner.jpg");
    height: 30vh;
    background-size:cover;
    background-position: 83% 17%;
  }

  .article-heading{
    color:#37b24d; 
    text-align: center;
  }
  .article-content{
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    margin-top: 2%;
    width: 60vw;
  }

  .article-content p{
    font-size: 20;
    padding-top: 2%;
    text-indent: 20px;
  }

  .img-grid{
    display: grid;
    grid-template-columns: auto auto;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .img-grid div img{
    width: 40vw;
    margin-top: 4%;
  }


  @media (max-width:500px){
    .article-content{
      text-align: left;
      margin-left:auto;
      margin-right: auto;
      margin-top: 2%;
      width: 80vw;
    }
  }