<head>
    <link rel="stylesheet" href="/static/about.css">
    
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>
    </header>

    <article>
        <div class="container text-center my-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
              <h3 class="article-heading">ABOUT SASE@ASU</h3>
              <p></p>
              <p>Welcome to SASE at ASU! We are a diversity organization at the ASU - Tempe campus under the Fulton Student Organizations. SASE at ASU is dedicated to the advancement of Asian heritage scientists and engineers in education and employment so that they can achieve their full career potential. In addition to professional development, SASE at ASU also encourages members to contribute to the enhancement of the communities in which they live.</p>
              <p></p>
              <p>Over the course of a school year, we provide opportunities for our general body to advance their professional development and help them achieve their career goals. We believe in tailoring unique experiences for every member, helping them refine their skillsets, and prepping them for their respective industries. We offer technical workshops, industry talks, as well as collaborations with other ASU organizations and SASE chapters. We also invite those members who want to expand their network to attend SASE Nationals in the Fall semester and SASE Regionals in the Spring semester.</p>
              <p></p>
              <p>Community is a huge aspect of our chapter and we believe in cultivating a healthy balance of professional and personal experiences. Throughout the school year we organize various opportunities for those within our chapter to create lasting bonds and meaningful relationships. Some of the events we have done in the past include ice & roller skating socials, movie/game nights, karaoke socials, and trips to grab dinner and boba tea. Since 2021, we also host an annual Field Day event in collaboration with other Fulton organizations where we offer sporting competitions for our communities to participate in. In addition, we've also formed a SASE Dance Team specializing in K-Pop performances which most recently represented SASE at ASU at the annual AAPASC Culture Night.</p>
              <p></p>
              <p></p>
            </div>
          </div>
        </div>   

        <!-- Newsletter
             Sun Devil Sync -  -->
        <div class="img-grid">
          <div>
            <img src="/static/Images/about/grid_img/grid7.jpg"/>
            <img src="/static/Images/about/grid_img/grid1.jpg"/>
            <img src="/static/Images/about/grid_img/grid2.jpg"/>
            <img src="/static/Images/about/grid_img/grid3.jpg"/>
          </div>
          <div>
            <img src="/static/Images/about/grid_img/grid4.jpg"/>
            <img src="/static/Images/about/grid_img/grid5.jpg"/>
            <img src="/static/Images/about/grid_img/grid6.jpg"/>
          </div>
        </div>
        </article>

        <script >
          window.onscroll = function() {scrollFunction()};

          function scrollFunction() {
            if (document.body.scrollTop > 25 || document.documentElement.scrollTop > 25) {
              document.getElementById("navbar").style.backgroundColor = "#2b90d9";
              document.getElementById("navbar").style.transition = "500ms";
            } else {
              document.getElementById("navbar").style.backgroundColor = "rgba(0, 0, 0, 0)";
            }
          }
        </script>
    {% endblock %}
</body>
</html>