<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE SOCIETY OF ASIAN SCIENTISTS AND ENGINEERS - ASU CHAPTER</title>
    <link rel = "stylesheet" href="../staticfiles/base.css">
    <link href="https://fonts.cdnfonts.com/css/aller" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,400italic,700italicamp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@100;200;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
</head>
<body>
    <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="Webpages/about.html">ABOUT</a></li>
          <li><a href="Webpages/eboard.html">E-BOARD</a></li>
          <li><a href="Webpages/events.html">GALLERY</a></li>
          <li><a href="Webpages/donate.html">DONATE</a></li>
          <li><a href="Webpages/meetings.html">MEETINGS</a></li>
        </ul>
        <h2 class="Heading">THE SOCIETY OF ASIAN SCIENTISTS AND ENGINEERS - ASU CHAPTER</h2>
      </nav>
    {%block content%}
    {%endblock%}
</body>
</html>