<head>
    <link rel="stylesheet" href="/static/donate.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>

    </header>

    <article>
        <div class="top-row-heading">

            <h2>DONATE TO SASE@ASU</h2>
            <p>Here is our sponsorship/donation page! You can find a list of our sponsors here as well as links to our donation page and sponsorship package. We are very grateful for everyone who has helped keep us up and running.</p>
        </div>

        <div class="sponsor-donor">
            <img class="sponsor-one" src="/static/Images/donate/sponsor.jpg"/>
            <img class="sponsor-two" src="/static/Images/donate/donate.jpg"/>
            <div class="sponsor-three">
                <h3>SPONSORSHIP PACKAGE</h3>
                <p>Interested in becoming a sponsor?<br>Find out how to help our chapter grow and what we can do for you!</p>
                <button>DONATE</button>
            </div>
            <div class="sponsor-four">
                <h3>MAKE A DONATION</h3>
                <p>Every contribution makes a difference.<br>Our donations help us fund our events and keep our chapter afloat!</p>
                <button>DONATE</button>
            </div>
        </div>

        <div class="sponsor-donor-text">

        </div>
      </article>
    {% endblock %}
</body>
</html>