<head>
    <link rel="stylesheet" href="/static/donate.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>

    </header>

    <article>
        <div class="container text-center my-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
              <h3 class="article-heading">DONATE TO SASE@ASU</h3>
              <p>Here is our sponsorship/donation page! You can find a list of our sponsors here as well as links to our donation page and sponsorship package. We are very grateful for everyone who has helped keep us up and running.</p>
            </div>
          </div>

          <div class="container my-5">
            <div class="row g-5 align-items-start justify-content-center">
              <!-- Sponsor Image 1 -->
              <div class="col-12 col-md-6 text-center">
                <img src="/static/Images/donate/sponsor.jpg" class="img-fluid rounded shadow" alt="Sponsor 1">
              </div>
              <!-- Sponsor Image 2 -->
              <div class="col-12 col-md-6 text-center">
                <img src="/static/Images/donate/donate.jpg" class="img-fluid rounded shadow" alt="Sponsor 2">
              </div>
              <!-- Sponsor Package Text -->
              <div class="col-12 col-md-6 text-center">
                <h3 class="sponsor-title">SPONSORSHIP PACKAGE</h3>
                <p class="sponsor-desc">Interested in becoming a sponsor?<br>Find out how to help our chapter grow and what we can do for you!</p>
                <button class="btn btn-success">DONATE</button>
              </div>
              <!-- Donation Text -->
              <div class="col-12 col-md-6 text-center">
                <h3 class="sponsor-title">MAKE A DONATION</h3>
                <p class="sponsor-desc">Every contribution makes a difference.<br>Our donations help us fund our events and keep our chapter afloat!</p>
                <button class="btn btn-success">DONATE</button>
              </div>
            </div>
          </div>          

        </div>
      </article>
      <script >
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 25 || document.documentElement.scrollTop > 25) {
            document.getElementById("navbar").style.backgroundColor = "#2b90d9";
            document.getElementById("navbar").style.transition = "500ms";
          } else {
            document.getElementById("navbar").style.backgroundColor = "rgba(0, 0, 0, 0)";
          }
        }
      </script>
    {% endblock %}
</body>
</html>