<head>
    <link rel="stylesheet" href="/static/eboard.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>
        <h1>MEET OUR TEAM</h1>
      </header>

      <article class="role-table">
        <div><div class="president"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="vice-pres" style="background-image: url(/static/Images/eboard/czyra.jpg);"></div><p class="text-over-img">Vice President</p></div>
        <div><div class="treasurer"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="external"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="internal"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="Secretary" style="background-image: url(/static/Images/eboard/mily.jpeg);"></div><p class="text-over-img">Secretary</p></div>
        <div><div class="Historian"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="ted"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="outreach"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="social" style="background-image: url(/static/Images/eboard/Loretta.jpg);"></div><p class="text-over-img">Social Engagement Officer</p></div>
        <div><div class="webmaster"></div><p class="text-over-img">This is AZAM</p></div>
        <div><div class="advisor"></div><p class="text-over-img">This is AZAM</p></div>
      </article>

    {% endblock %}
</body>
</html>