<head>
    <link rel="stylesheet" href="/static/eboard.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>
        <h1>MEET OUR TEEM</h1>
      </header>

      <article class="role-table">
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">President This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/czyra.jpg" alt="Your Image"><div class="overlay-text">Vice President This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Treasurer This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Director of External Affairs This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Director of Internal Affairs This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/mily.jpeg" alt="Your Image"><div class="overlay-text">Secretary This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Historian This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Outreach Officer This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Fundraising This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/Loretta.jpg" alt="Your Image"><div class="overlay-text">Social Engagement This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">WebMaster This is Azam</div></div>
        <div class="image-container"><img src="/static/Images/eboard/shangchi.jpg" alt="Your Image"><div class="overlay-text">Advisor This is Azam</div></div>
      </article>

    {% endblock %}
</body>
</html>