<head>
    <link rel="stylesheet" href="/static/gallery.css">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>
      <!-- <p class="header-text">VISIT WITH US</p> -->
    </header>

    <article>
      <div class="top-row-heading">
        <div class="container text-center my-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
              <h3 class="article-heading">OUR GALLERY</h3>
              <p>Visit amazing places with us on our STEM journey!</p>
          </div>
        </div>  
      </div>
      <div class="gallery-container">
        <div class="row-one">
          <img src="/static/Images/Events/1_1.jpg"/>
          <img src="/static/Images/Events/1_2.jpg"/>
          <img src="/static/Images/Events/1_3.jpg"/>
          <img src="/static/Images/Events/1_4.jpg"/>
        </div>
        <div class="row-two">
          <img src="/static/Images/Events/2_1.jpg"/>
          <img src="/static/Images/Events/2_2.jpg"/>
          <img src="/static/Images/Events/2_3.jpg"/>
          <img src="/static/Images/Events/2_4.jpg"/>
        </div>
        <div class="row-three">
          <img src="/static/Images/Events/3_1.jpg"/>
          <img src="/static/Images/Events/3_2.jpg"/>
          <img src="/static/Images/Events/3_3.jpg"/>
          <img src="/static/Images/Events/3_4.jpg"/>
        </div>
      </div>
    </article>
    <script >
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 25 || document.documentElement.scrollTop > 25) {
          document.getElementById("navbar").style.backgroundColor = "#2b90d9";
          document.getElementById("navbar").style.transition = "500ms";
        } else {
          document.getElementById("navbar").style.backgroundColor = "rgba(0, 0, 0, 0)";
        }
      }
    </script>
    {% endblock %}
</body>
</html>