<head>
    <link rel="stylesheet" href="/static/meetings.css">
</head>
<body class="d-flex flex-column min-vh-100">
    {% extends "base.html" %}

    {% block content %}
    <header>
    </header>

    <article>
        <h1 style="font-size: 100px;margin-top: 150px;margin-bottom: 150px;text-align: center;">COMING SOON!!!</h1>
      <!-- <h1>
        UPCOMING MEETINGS
      </h1>

      <ul>
        <li>
          Meeting Image : Brief Explanation
        </li>
        <li>
          Meeting Image : Brief Explanation
        </li>
      </ul>

      <h1>OUR LATEST MEEETINGS</h1>

      <ul>
        <li>
          Meeting name 1 |||| Meetin Recap is as follows
          //<img>
          <img>
          <img> all in a line  and with slides//
        </li>
        <li>
          Meeting name 2 |||| Meetin Recap is as follows
        </li>
        <li>
          Meeting name 3 |||| Meetin Recap is as follows
        </li>
      </ul>

      <h2>NEWSLETTER FOR THE MONTH</h2> -->
    </article>

    {% endblock %}
</body>
</html>