<head>
    <link rel="stylesheet" href="/static/signin.css">
</head>
<style>

    .nav{
        background-color:#2b90d9;
    }

    .flexbox {
        flex-direction: row;
        align-items: flex-start;
    }
    .flexform {
        order: 1;
    }
    .fleximg {
        order: 2;
        margin-left: 20px;
    }

    @media (max-width: 900px) {
        .flexbox {
            margin-top: 20px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        .flexform {
            order: 2;
        }
        .fleximg {
            order: 1;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

</style>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>

    </header>
    <div class="pageframe">
    <form action="{% url 'signin' %}" method = "post" class="signform">
        {% csrf_token %}
        <div class="flexbox" >
            <!-- <div class="flexform" style="display: flex;justify-content: center;"> -->
            <center class="flexform" >

                {% if error_ %} <h1>yes</h1> {% endif %}
                <label class="firstname-label" for="firstname">Firstname: </label>
                <input class="firstname-input" type="text"  name="firstname" id="firstname" value = "{{firstnameactual}}" required>
                <label class="lastname-label" for="lastname">Lastname: </label>
                <input class="lastname-input" type="text" name="lastname" id="lastname" value= "{{lastnameactual}} " required>
                <label class="email-label" for="email">Email (Email@asu.edu) : </label>
                <input class="email-input" type="email" name="email" id="email" value = "{{emailactual}}" required>
                <label class="asuid-label" for="asuid">ASU ID: </label>
                <input class="asuid-input" type="number" name="asuid" id="asuid" value = "{{asuidactual}}" minlength="10" maxlength="10" required>
                <label class="signup-label" for="signup">If it is your first time</label>
                <input class="signup-input" type = "checkbox" name = "signup" id = "signup" onclick="firsttimer()">

                <label class="update-label" for="update">Update/Change Info</label>
                <input class="update-input" type = "checkbox" name = "update" id="update" onclick="firsttimer()" >
                <input class="submit-btn" type = "submit" value = "Sign in" style="grid-column: 1/ span 2; margin-top: 5%; margin-bottom: 5%;">

            </center>
            <center class="fleximg" >
                <img src="/{{event.flyer }}" class="imgleft" id="imgleft">
                <center id = "conditionalfirsttimer" class="conditionalfirsttimer">
                    <label class="graduation-label" for="graduationyear">Expected Graduation Year (MM/YYYY): </label>
                    <select class="graduation-input" type="text" name="graduationyear" id="graduationyear" >
                        <option value = ""></option>
                        <option>Spring 2025</option>
                        <option>Summer 2025</option>
                        <option>Fall 2025</option>
                        <option>Spring 2026</option>
                        <option>Summer 2026</option>
                        <option>Fall 2026</option>
                        <option>Spring 2027</option>
                        <option>Summer 2027</option>
                        <option>Fall 2027</option>
                        <option>Spring 2028</option>
                        <option>Summer 2028</option>
                        <option>Fall 2028</option>
                        <option>Spring 2029</option>
                        <option>Summer 2029</option>
                        <option>Fall 2029</option>
                        <option>Spring 2030</option>
                        <option>Summer 2030</option>
                        <option>Fall 2030</option>
                        <option>Spring 2031</option>
                        <option>Summer 2031</option>
                        <option>Fall 2031</option>
                        <option>Spring 2032</option>
                        <option>Summer 2032</option>
                        <option>Fall 2032</option>
                        <option>Spring 2033</option>
                        <option>Summer 2033</option>
                        <option>Fall 2033</option>
                    </select>
                    <label class="discord-label" for="discord">Discord: </label>
                    <input class="discord-input" type="text" name="discord" id="discord" placeholder={{discordactual}}>
                    <label class="year-label" for="year">Year: </label>
                    <select class="year-input" id="year" name="year" >
                        <option value = ""></option>
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                        <option value="Grad">Graduate</option>
                    </select>
                    <label class="dropdown-label" for="major_dropdown">Major: </label>
                    <select class="dropdown-input" id="major_dropdown" name = "major_dropdown">
                        <option value = ""></option>
                        <option>Aerospace Engineering</option>
                        <option>Biomedical Engineering</option>
                        <option>Chemical Engineering</option>
                        <option>Computer Science</option>
                        <option>Computer Systems</option>
                        <option>Electrical Engineering</option>
                        <option>Engineering Management</option>
                        <option>Environmental Engineering</option>
                        <option>Graphic Information Technology</option>
                        <option>Mechanical Engineering</option>
                        <option>Software Engineering</option>
                        <option>Materials Science & Engineering</option>
                        <option value = "Other">Other</option>
                    </select>
                    <div id="major" class="major" >
                        <label class="major-label" type="text" for= "major">Other: </label>
                        <input class="major-input" name="major" id = "major_label">
                    </div>
                    <label class="campus-label" for="campus">Campus: </label>
                    <select class="campus-input" id="campus" name="campus" >
                        <option value = ""></option>
                        <option value="Tempe">Tempe</option>
                        <option value="West">West</option>
                        <option value="Downtown">Downtown</option>
                        <option value="Poly">Polytechnic</option>
                        <option value="Havasu">Lake Havasu</option>
                    </select>
            </center>
        </div>
    </div>
</form>
    {% if error %}
        <script>
            errormessage = "{{error}}"
            alert(errormessage)
        </script>
    {%endif%}


</div>
    </article>
    <script >
        document.getElementById("navbar").style.backgroundColor="#2b90d9"

      </script>

</body>

{% if updateallinfo %}

    <script>
        var checkbox2 = document.getElementById("update")
        checkbox2.checked = true
    </script>

{% endif %}
<script>
    const dropdown = document.getElementById("major_dropdown")
    const other = document.getElementById("major")
    function firsttimer(){
        var checkbox = document.getElementById("signup");
        var checkbox2 = document.getElementById("update")
        var divisor = document.getElementById("conditionalfirsttimer")
        if(checkbox.checked || checkbox2.checked){
            conditionalfirsttimer.style.display = "grid";
            document.getElementById("imgleft").style.display="none";
            document.getElementById("discord").required = true
            document.getElementById("graduationyear").required = true
            document.getElementById("year").required = true
            document.getElementById("major_dropdown").required = true
            document.getElementById("campus").required = true
            if(dropdown.value == "Other"){
                document.getElementById("major_label").required = true
            }
        }
        else{
            conditionalfirsttimer.style.display = "none";
            document.getElementById("imgleft").style.display="block";
            document.getElementById("discord").required = false
            document.getElementById("graduationyear").required = false
            document.getElementById("year").required = false
            document.getElementById("major_dropdown").required = false
            document.getElementById("campus").required = false
            document.getElementById("major_label").required = false
        }
    }
    var checkbox = document.getElementById("signup");
    var checkbox2 = document.getElementById("update")
    var divisor = document.getElementById("conditionalfirsttimer")
    if(checkbox.checked || checkbox2.checked){
        conditionalfirsttimer.style.display = "grid";
        document.getElementById("imgleft").style.display="none";
        document.getElementById("discord").required = true
        document.getElementById("graduationyear").required = true
        document.getElementById("year").required = true
        document.getElementById("major_dropdown").required = true
        document.getElementById("campus").required = true
        if(dropdown.value == "Other"){
            document.getElementById("major_label").required = true
            other.style.display = "block"
        }
    }
    else{
        conditionalfirsttimer.style.display = "none";
        document.getElementById("imgleft").style.display="block";
        document.getElementById("discord").required = false
        document.getElementById("graduationyear").required = false
        document.getElementById("year").required = false
        document.getElementById("major_dropdown").required = false
        document.getElementById("campus").required = false
        document.getElementById("major_label").required = false
        if(dropdown.value == "Other"){
            document.getElementById("major_label").required = false
        }
    }


    dropdown.addEventListener('click', function() {
        if(dropdown.value == "Other"){
            other.style.display = "block"
            document.getElementById("major_label").required = true
        }
        else{
            other.style.display = "none"
            document.getElementById("major_label").required = false
        }
    })
</script>
{%endblock%}
