<head>
    <link rel="stylesheet" href="/static/signin.css">
</head>
<style>
    .nav{
        background-color:#2b90d9;
    }
</style>
<body>
    {% extends "base.html" %}

    {% block content %}
    <header>

    </header>
    <div class="pageframe">
    <form action="{% url 'signin' %}" method = "post" class="signform">
        {% csrf_token %}
        <div class="flexbox" >
            <!-- <div class="flexform" style="display: flex;justify-content: center;"> -->
            <center class="flexform" >

                {% if error_ %} <h1>yes</h1> {% endif %}
                <label class="firstname-label" for="firstname">Firstname: </label>
                <input class="firstname-input" type="text"  name="firstname" id="firstname" value = "{{firstnameactual}}" required>
                <label class="lastname-label" for="lastname">Lastname: </label>
                <input class="lastname-input" type="text" name="lastname" id="lastname" value= "{{lastnameactual}} " required>
                <label class="email-label" for="email">Email (Email@asu.edu) : </label>
                <input class="email-input" type="email" name="email" id="email" value = "{{emailactual}}" required>
                <label class="asuid-label" for="asuid">ASU ID: </label>
                <input class="asuid-input" type="number" name="asuid" id="asuid" value = "{{asuidactual}}" minlength="10" maxlength="10" required>
                <label class="signup-label" for="signup">If it is your first time</label>
                <input class="signup-input" type = "checkbox" name = "signup" id = "signup" onclick="firsttimer()">
                {% if update %}
                <label class="update-label" for="update">Update/Change Info</label>
                <input class="update-input" type = "checkbox" name = "update" >
                {%endif%}
                <input class="submit-btn" type = "submit" value = "Sign in" style="grid-column: 1/ span 2; margin-top: 5%; margin-bottom: 5%;">

            </center>
            <center class="fleximg" >
                <img src="/{{event.flyer }}" class="imgleft" id="imgleft">
                <center id = "conditionalfirsttimer" class="conditionalfirsttimer">
                    <label class="graduation-label" for="graduationyear">Expected Graduation Year (MM/YYYY): </label>
                    <input class="graduation-input" type="text" name="graduationyear" id="graduationyear" >
                    <label class="discord-label" for="discord">Discord: </label>
                    <input class="discord-input" type="text" name="discord" id="discord" >
                    <label class="year-label" for="year">Year: </label>
                    <select class="year-input" id="year" name="year" >
                        <option value="Freshman">Freshman</option>
                        <option value="Sophomore">Sophomore</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                        <option value="Grad">Grad</option>
                    </select>
                    <label class="dropdown-label" for="major_dropdown">Major: </label>
                    <select class="dropdown-input" id="major_dropdown" name = "major_dropdown" >
                        <option>Aerospace Engineering</option>
                        <option>Biomedical Engineering</option>
                        <option>Chemical Engineering</option>
                        <option>Computer Science</option>
                        <option>Computer Systems</option>
                        <option>Electrical Engineering</option>
                        <option>Engineering Management</option>
                        <option>Environmental Engineering</option>
                        <option>Graphic Information Technology</option>
                        <option>Mechanical Engineering</option>
                        <option>Software Engineering</option>
                        <option>Materials Science & Engineering</option>
                        <option>Other</option>
                    </select>
                    <div id="major" class="major" >
                        <label class="major-label" type="text" for= "major">Other: </label>
                        <input class="major-input" name="major" id="major-text">
                    </div>
                    <label class="campus-label" for="campus">Campus: </label>
                    <select class="campus-input" id="campus" name="campus" >
                        <option value="Tempe">Tempe</option>
                        <option value="West">West</option>
                        <option value="Downtown">Downtown</option>
                        <option value="Poly">Polytechnic</option>
                        <option value="Havasu">Lake Havasu</option>
                    </select>
            </center>
        </div>
    </div>
</form>
    {% if email %}
        <script>
            alert("The email is not recognised")
            document.getElementById("email").style.transition = "border 0.5s"
            document.getElementById("email").style.border = "0.3rem solid rgba(181, 43, 43, 0.5)"
        </script>
    {%endif%}

    {% if firstname %}
    <p> The given firstname is not recognised</p>
    <p> {{ firstname }}</p>
    {% endif %}

    {% if lastname %}
    <p> The given lastname is not recognised</p>
    <p>{{lastname}}</p>
    {%endif%}

    {% if asuid %}
    <p> The asuid is different </p>
    <p> {{ asuid }} </p>
    {%endif%}

    {% if firstname or lastname or asuid%}
        <script>
            var firstname = "{{firstname}}";
            var lastname = "{{lastname}}";
            var asuid = "{{asuid}}";
            if (firstname != ""){
                document.getElementById("firstname").style.transition = "border 0.5s"
                document.getElementById("firstname").style.border = "0.3rem solid rgba(181, 43, 43, 0.5)"
            }
            if (lastname != ""){
                document.getElementById("lastname").style.transition = "border 0.5s"
                document.getElementById("lastname").style.border = "0.3rem solid rgba(181, 43, 43, 0.5)"
            }
            if (asuid != ""){
                document.getElementById("asuid").style.transition = "border 0.5s"
                document.getElementById("asuid").style.border = "0.3rem solid rgba(181, 43, 43, 0.5)"
            }
        </script>
    {%endif%}
</div>
    </article>
    <script >
        document.getElementById("navbar").style.backgroundColor="#2b90d9"

      </script>

</body>

<script>
    function firsttimer(){
        var checkbox = document.getElementById("signup");
        var divisor = document.getElementById("conditionalfirsttimer")

        if(checkbox.checked){
            conditionalfirsttimer.style.display = "grid";
            document.getElementById("imgleft").style.display="none";
        }
        else{
            conditionalfirsttimer.style.display = "none";
            document.getElementById("imgleft").style.display="block";
        }
    }
    const dropdown = document.getElementById("major_dropdown")
    const other = document.getElementById("major")

    dropdown.addEventListener('click', function() {
        if(dropdown.value == "Other"){
            other.style.display = "block"
            document.getElementById("major-text").required = true
        }
        else{
            other.style.display = "none"
            document.getElementById("major-text").required = false
        }
    })
</script>
{%endblock%}
