<button onclick="Clipboard()">Copy Data!</button>

<table id="tabledata">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Major</th>
    </tr>
    {% for i in data%}
        <tr>
        {% for j in i%}
            <td>{{ j }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>



<script>
    function Clipboard(){
        var copytext = document.getElementById("tabledata").innerText;
        navigator.clipboard.writeText(copytext);
    }
</script>
